body {
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
    margin: 0;
    color: white;
}

header {
    position: fixed;
    display: flex;
    min-height: 70px;
    width: 100%;
    background-color: rgb(87, 7, 7);
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
}

.logo img {
    width: 180px;
    height: 90px;
    margin-left: 0px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: white;
    animation: both 2s;
    font-size: 17px;
}
 .lat {
     position: fixed;
     width: 80px;
     min-height: 100%;
     background-color: rgb(18, 18, 80);
     opacity: 0.9;
     font-size: 0;
     margin-top: 94px;
 }

.lat a {
    display: flex;
    padding: 15px;
}
.lat a {
    padding-left: 15px;
    align-items: center;
}
.lat:hover {
    width: 190px;
    font-size: 15px;
}
.lat a img:hover {
    width: 60px;
    font-size: 30px;
}
a img {
    width: 50px;
}
main {
    font-weight: 600;
    padding-left: 100px;
    padding-top: 15px;    
}
main img {
    width: 700px;
    display: block;
        margin-left: auto;
        margin-right: auto;
}
main {
padding-top: 80px;}
    
/** celar **/
@media (max-width:767px) {
    .lat {
        position: fixed;
        width: 80px;
        min-height: 100%;
        background-color: rgb(18, 18, 80);
        opacity: 0.9;
        font-size: 0;
        margin-top: 90px;
    }

        a img {
             width: 40px;
        }
         main {
             font-weight: 600;
             padding-left: 90px;
             padding-top: 5px;
                }
          .logo img {
              width: 0px;
              height: 60px;
              margin-left: 0px;
          }
          header {
              display: flex;
              height: 70px;
              background-color: rgb(87, 7, 7);
              align-items: center;
              padding: 10px;
              font-size: 12px;
            font-weight: 6000;
            
          }
        main img {
            width: 200px;
            display: block;
            padding-right: 40px;

        }
        nav a:hover {
            color: white;
            animation: both 2s;
            font-size: 12px;
        }
        
}








/** tablet **/
@media (min-width: 768px) and (max-width:990px) {

}
/** escritorio **/
@media (min-width: 991) {}
